.list-menu__box {
    grid-area: ListMenu;
    padding: 8px 20px 8px 32px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    box-sizing: border-box;
}
.list-menu__box-nav {
    flex: 0 0;
    padding-right: 12px;
}
.list-menu__nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4px;
}
.list-menu__box-albums {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.list-menu__box-albums-title {
    flex: 0 0;
}
.list-menu__box-scr-area {
    flex-grow: 1;
    height: 50px;
    overflow: hidden;
}
.list-menu__scr-list {
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.list-menu__box .rt-BaseButton:where(.rt-variant-outline),
.list-menu__box .rt-BaseButton:where(.rt-variant-soft) {
    box-shadow: none;
    width: 234px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: start;
    &:where(:focus-visible) {
        outline: 2px solid var(--accent-8);
        outline-offset: -1px;
    }
    @media (hover: hover) {
        &:where(:hover) {
            background-color: var(--accent-a4);
        }
    }
    &:where([data-state="open"]) {
        background-color: var(--accent-a4);
    }
    &:where(:active:not([data-state="open"])) {
        background-color: var(--accent-a5);
    }
    &:where([data-disabled]) {
        color: var(--gray-a8);
        background-color: var(--gray-a3);
    }
}
.list-menu__box .rt-BaseButton:where(.rt-variant-outline) span,
.list-menu__box .rt-BaseButton:where(.rt-variant-soft) span {
    text-align: left;
    flex: 1 1;
    max-width: 155px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (max-height: 560px) {
    .list-menu__box .rt-BaseButton:where(.rt-variant-outline),
    .list-menu__box .rt-BaseButton:where(.rt-variant-soft) {
        box-shadow: none;
        width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        justify-content: start;
        &:where(:focus-visible) {
            outline: 2px solid var(--accent-8);
            outline-offset: -1px;
        }
        @media (hover: hover) {
            &:where(:hover) {
                background-color: var(--accent-a4);
            }
        }
        &:where([data-state="open"]) {
            background-color: var(--accent-a4);
        }
        &:where(:active:not([data-state="open"])) {
            background-color: var(--accent-a5);
        }
        &:where([data-disabled]) {
            color: var(--gray-a8);
            background-color: var(--gray-a3);
        }
    }
}

@media screen and (max-width: 740px) and (orientation: portrait) {
    .list-menu__box .rt-BaseButton:where(.rt-variant-outline),
    .list-menu__box .rt-BaseButton:where(.rt-variant-soft) {
        box-shadow: none;
        width: 160px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        justify-content: start;
        &:where(:focus-visible) {
            outline: 2px solid var(--accent-8);
            outline-offset: -1px;
        }
        @media (hover: hover) {
            &:where(:hover) {
                background-color: var(--accent-a4);
            }
        }
        &:where([data-state="open"]) {
            background-color: var(--accent-a4);
        }
        &:where(:active:not([data-state="open"])) {
            background-color: var(--accent-a5);
        }
        &:where([data-disabled]) {
            color: var(--gray-a8);
            background-color: var(--gray-a3);
        }
    }
}

@media screen and (max-width: 660px) and (orientation: portrait) {
    .list-menu__nav > button > span {
        display: none;
    }
    .list-menu__nav .rt-BaseButton:where(.rt-variant-outline),
    .list-menu__nav .rt-BaseButton:where(.rt-variant-soft) {
        box-shadow: none;
        width: 80px;
        min-width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        justify-content: center;
        &:where(:focus-visible) {
            outline: 2px solid var(--accent-8);
            outline-offset: -1px;
        }
        @media (hover: hover) {
            &:where(:hover) {
                background-color: var(--accent-a4);
            }
        }
        &:where([data-state="open"]) {
            background-color: var(--accent-a4);
        }
        &:where(:active:not([data-state="open"])) {
            background-color: var(--accent-a5);
        }
        &:where([data-disabled]) {
            color: var(--gray-a8);
            background-color: var(--gray-a3);
        }
    }
}
